### Node
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### Environment / secrets
.env
.env.*

### OS / editor
.DS_Store
.vscode/

### Misc build artifacts
dist/
build/
coverage/
